@use '/src/utils/variables/global';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  &:active {
    .iconWrapper {
      svg {
        path {
          fill: global.$text-color-blue-dark;}
      }
    }
  }
}

.iconWrapper {
  svg {
      height: 24px;
      width: 24px;
    path {
      fill:  global.$border-color-blue-blue;}
  }
}
