@use '/src/utils/variables/global';

.page {
  width: 100%;
  min-width: 500px;
  // max-width: 1920px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: global.$border-color-blue-blue;
}

.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px - 108px);
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}