@use '/src/utils/variables/global';

.page {
    width: 100%;
    min-width: 500px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: global.$border-color-blue-blue;
}

.main {
    background-color: var(--blue-blue, #003C96);
    max-width: 2080px;
    width: 100%;
    min-height: 1080px;
    height: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
}

// .header {
//     background-color: var(--blue-blue, #003C96);
// }