@use '/src/utils/variables/global';

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 319px;
    max-width: 400px;
    width: 100%;
    margin: 270px auto 318px;
    padding: 0;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 400px;
    width: 100%;
}

.form__title {
    font-family: global.$primary-font;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    min-height: 132px;
    margin: 43px 0 40px 0;
    padding: 0;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

.form__label {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 44px;
    border-radius: 12px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    background: var(--White, #FFF);
    border: 1px solid var(--anthracite-20, rgba(77, 77, 77, 0.20));
    // z-index: 1;
}

// .form__text {
//     position: absolute;
//     left: 12px;
//     top: 6px;
//     z-index: 1;
//     font-family: global.$secondary-font;
//     font-size: 13px;
//     font-style: normal;
//     font-weight: 500;
//     line-height: 20px;
//     color: var(--day-text-icons-text-01, rgba(27, 31, 59, 0.80));
// }

.form__input {
    margin: 0;
    padding: 0 12px 0 12px;
    font-family: global.$secondary-font;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    max-width: 376px;
    width: 100%;
    border: none;
    position: absolute;
    height: 44px;
    border-radius: 12px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08);
    background: var(--White, #FFF);
    border: 1px solid var(--anthracite-20, rgba(77, 77, 77, 0.20));
}

.form__input:focus {
    outline-color: var(--day-base-primary, #526ED3);    
}

// .form__eye {
//     cursor: pointer;
//     width: 24px;
//     height: 24px;
//     position: absolute;
//     left: 386px;
//     top: 10px;
// }

.form__eye_open {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 364px;
    top: 10px;
    background-image: url('../../images/eye-icon.svg');
}

.form__eye_close {
    cursor: pointer;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 364px;
    top: 10px;
    background-image: url('../../images/icon-eye-close.svg');
}

.form__error {}

.form__button {
    cursor: pointer;
    margin-top: 40px;
    max-width: 400px;
    width: 100%;
    min-height: 56px;
    margin: 0;
    border-radius: 12px;
    border: none;
    // background: var(--anthracite-hover, #D3D3D3);
    background: var(--day-base-primary, #526ED3);
    font-family: global.$primary-font;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    // color: var(--anthracite-dark, #4D4D4D);
    color: var(--day-text-icons-text-01-inverse, #FFF);
}