.chart_popup {
    // height: 594px;
    width: 915px;
    margin-top: 37px;
    margin-right: 25px;
    height: 594px;
}

.chart_popup__chart {
    height: 594px;
    // max-width: 1011px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    // height: 460px;
    border: 1px solid #fff;
    border-radius: 0 20px 20px 20px;
    // margin-left: 460px;
    // margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}