@use '/src/utils/variables/global';

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  height: 56px;
  cursor: pointer;
  font-family: global.$primary-font;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: global.$border-color-blue-blue;
  padding: 0;
  margin: 0;
  border-radius: 12px;
  background: global.$text-color-sunny-sunny;
  border: none;
  outline: none;
  &:hover {
    transition: background-color 0.3s ease-in-out, color 0.3s ease;

    background: global.$text-color-sunny-tan;
    color: global.$text-color-blue-dark;
    .iconWrapper {
      svg {
        path {
          fill: global.$text-color-blue-dark;}
      }
    }
  }
  &:active {
    background: global.$textar-color-sunny-dark;
    color:  global.$text-color-blue-dark;;
    .iconWrapper {
      svg {
        path {
          fill: global.$text-color-white;}
      }
    }
     transition: background-color 0.3s ease-in-out, color 0.3s ease;
  }

  &:disabled {
    cursor: unset;
    background: global.$border-color-anthracite-20;
    color: global.$text-color-anthracite-dark;
    .iconWrapper {
      svg {
        path {
          fill: global.$text-color-anthracite-dark;}
      }
    }
  }
  transition: background-color 0.3s ease-in-out, color 0.3s ease;
}

.iconWrapper {
  padding-left: 13px;
  padding-top: 5px;
  svg {
      height: 24px;
      width: 24px;
    path {
      fill:  global.$text-color-blue-dark;}
  }
}

.iconDownloadWrapper {
  width: 24px;
    height: 24px;
    border: 2px solid global.$text-color-blue-dark;;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.noIcon {
  display: none;
}