//colors
$color-black: #2C2A29;
$color-white: #FFF;
$color-gray: #757575;
$color-anthracite-dark: #4d4d4d;
$color-anthracite-light: #d3d3d3;
$color-anthracite-80: rgba(77, 77, 77, 0.8);
$color-crimson-crimson: #aa2332;
$color-blue-blue: #003c96;
$color-blue-blue-80: rgba(0, 60, 150, 0.80);
$color-blue-dark: #001E64;
$color-blue-light: #B4C8FF;
$color-blue-light-30:  #E9EFFF;
$color-anthracite-20: rgba(77, 77, 77, 0.2);
$color-sunny-sunny: #FFB900;
$color-sunny-tan: #F90;
$color-sunny-dark: #FF7500;

// $text-color-black: #2C2A29;
// $text-color-white: #FFF;
// $text-color-gray: #757575;
// $text-color-anthracite-dark: #4d4d4d;
// $text-color-anthracite-light: #d3d3d3;
// $text-color-anthracite-80: rgba(77, 77, 77, 0.8);
// $text-colorr-crimson-crimson: #aa2332;
// $border-color-blue-blue: #003c96;
// $background-color-blue-blue-80: rgba(0, 60, 150, 0.80);
// $text-color-blue-dark: #001E64;
// $text-color-blue-light: #B4C8FF;
// $color-blue-light: #001E64;
// $border-color-anthracite-20: rgba(77, 77, 77, 0.2);
// $text-color-sunny-sunny: #FFB900;
// $text-color-sunny-tan: #F90;
// $textar-color-sunny-dark: #FF7500;

//font
$primary-font: 'Futura PT Demi', sans-serif;
$secondary-font: 'Futura PT Book', sans-serif;

// @mixin h2_font {
//   font-size: 32px;
//   font-family: var(--font-primary);
//   font-weight: 700;
//   line-height: 135%;
// }

// $breakpoint-mobile: 550px;