//colors
$primary-color: #6ed6ce;
$text-color-black: #000000;
$text-color-gray: #757575;

//font
$primary-font: 'Futura PT Demi', sans-serif;
$secondary-font: 'Futura PT Book', sans-serif;

// @mixin h2_font {
//   font-size: 32px;
//   font-family: var(--font-primary);
//   font-weight: 700;
//   line-height: 135%;
// }

// $breakpoint-mobile: 550px;